<!-- <div class="flex-container">
  <div class="flex-item">
    <div class="flex-three-container">
      <div class="flex-two-item my-5 mx-5">
        <h5>How we built it</h5>
        <p>
          We based our developments on the platform Twilio, which provides a
          simple integration with WhatsApp API and a simple way to create user
          journeys. Using the Autopilot tasks. To avoid leaving the user trying
          different options and entering into frustrating “I didn’t understand”,
          we implemented a menu system using our Backend API (a python flask
          application) and helping the user following a simple journey and
          getting the right information in simple few steps.
        </p>
        <p>
          This website was built with Angular 9.
        </p>
        <h6>
          How to test it
        </h6>

        <p>
          Just send a WhatsApp message to <b>+1 415 523 8886</b> with code
          <b>join window-chamber</b>. And say <b>“hi”</b>
        </p>
      </div>
      <div class="flex-three-item">
        <img src="assets/test_screenshot.PNG" alt="" />
      </div>
    </div>

    <div class="blue-line"></div>

    <div class="flex-item">
      <h5>Challenges we ran into</h5>
      <p>
        The navigation through the chatbot journey was very challenging. The
        goal was to make the content accessible in the easiest way possible.
        Twilio do have some basic NLP (Natural Language Processing) technology,
        but need to be trained with a lot of sentences to be very performant and
        make it natural to access the right information. The menu feature we
        implement solve that problem by giving the user the control of his
        journey and not getting lost while getting the information they need.
      </p>
    </div>

    <div class="blue-line"></div>
  </div>
</div>

 -->

<div class="flex-container">
  <div class="flex-item">
    <div class="flex-three-container">
      <div class="flex-three-item" style="padding-top:40px;">
        <img src="assets/samsung-galaxy-s10-front2.png" alt="" />
      </div>
      <div class="flex-two-item mx-5">
        <h5>How we built it</h5>
        <p>
          We based our developments on the platform Twilio, which provides a
          simple integration with WhatsApp API and a simple way to create user
          journeys. Using the Autopilot tasks. To avoid leaving the user trying
          different options and entering into frustrating “I didn’t understand”,
          we implemented a menu system using our Backend API (a python flask
          application) and helping the user following a simple journey and
          getting the right information in simple few steps.
        </p>
        <p>
          This website was built with Angular 9.
        </p>
        <h6>
          How to test it
        </h6>

        <p>
          Just send a WhatsApp message to <b>+1 415 523 8886</b> with code
          <b>join window-chamber</b>. And say <b>“hi”</b>
        </p>
      </div>
    </div>

    <div class="blue-line"></div>

    <div class="flex-item">
      <h5>Challenges we ran into</h5>
      <p>
        The navigation through the chatbot journey was very challenging. The
        goal was to make the content accessible in the easiest way possible.
        Twilio do have some basic NLP (Natural Language Processing) technology,
        but need to be trained with a lot of sentences to be very performant and
        make it natural to access the right information. The menu feature we
        implement solve that problem by giving the user the control of his
        journey and not getting lost while getting the information they need.
      </p>
      <br />
    </div>

    <br />

    <!-- <div class="blue-line"></div> -->
  </div>
</div>
