<div class="flex-container">
  <div class="flex-item">
    <div class="flex-three-container">
      <div class="flex-two-item mx-5">
        <h3>DIGISIST</h3>
        <br />

        <p>
          Our WhatsApp chatbot helps the most vulnerable South African
          individuals and businesses access information on government financial
          support available to them during the national lockdown.
        </p>
        <br />
        <p>
          Our services not only provide citizens and businesses with financial
          support but also encourage social distancing as people don't have to
          go to physical offices to inquire and apply for government programs.
          This is particularly important in the context of South Africa where
          over 20% of the population is HIV positive and therefore
          immunocompromised. Furthermore our WhatsApp tool allows users to use
          minimal data to access information, a vital feature in a country where
          data costs are extremely high relative to average income.
        </p>
      </div>
      <div class="flex-three-item" style="padding-top: 60px;">
        <img src="assets/samsung-galaxy-s10-front2.png" alt="" />
      </div>
    </div>

    <div class="blue-line-bottom"></div>

    <div class="flex-item">
      <h4>HOW DOES IT WORK?</h4>
      <br />
      <ul>
        <li class="mb-3">
          Our free WhatsApp-based helpline provides users with information on
          government financial support programs
        </li>
        <li class="mb-3">
          The automated response platform encourages social distancing by
          helping more people access information while relieving traffic to
          government offices, call centers and websites
        </li>
        <li class="mb-3">
          Multilingual support, providing access to more South Africans
        </li>
      </ul>
    </div>

    <div class="blue-line"></div>

    <div class="flex-item" style="padding-bottom: 60px;">
      <div class="flex-three-container">
        <div class="flex-three-item">
          <h6>
            PERSONAL FINANCIAL SUPPORT
          </h6>

          <p>
            Apply for and manage social grants
          </p>
          <p>
            Debt relief information
          </p>
          <p>
            Student loan information
          </p>
        </div>
        <div class="flex-three-item">
          <h6>
            BUSINESS FINANCIAL SUPPORT
          </h6>

          <p>
            Information on what government financial support programs are
            applicable to your business and how to apply for them
          </p>
        </div>

        <div class="flex-three-item">
          <h6>
            DONATE
          </h6>

          <p>
            Provides verified list of organizations and funds that directly
            support the most vulnerable during the national lockdown
          </p>
        </div>
      </div>
    </div>
    <br />

    <!-- <div class="blue-line"></div> -->
  </div>
</div>
