<div class="flex-container">
  <div class="flex-item">
    <div class="flex-three-container">
      <div class="flex-two-item mx-5">
        <h3 style="padding-top: 80px;">OVERVIEW</h3>
        <br />
        <!-- MainHand.jpeg -->
        <p>
          Our WhatsApp chatbot helps the most vulnerable South African
          individuals and businesses access information on government financial
          support available to them during the national lockdown. This digital
          solution relieves traffic to government offices, call centers and
          websites, thereby encouraging social distancing. We leveraged the
          Twilio API to integrate easily with WhatsApp and help the user in
          their journey. Twilio will help to integrate other platforms
          (messenger, RCS, etc.) with minimum development.
        </p>
        <br />
      </div>
      <div class="flex-three-item" style="padding-top: 60px;">
        <img src="assets/iphone-xs-isometric-stand-right.png" alt="" />
      </div>
    </div>

    <div class="blue-line"></div>

    <div class="flex-item">
      <h5>
        THE MULTILINGUAL CHATBOT PROVIDES
      </h5>
      <br />
      <div class="flex-three-container">
        <div class="flex-three-item">
          <h6>
            PERSONAL FINANCIAL SUPPORT
          </h6>

          <p>
            Allowing users to create profile to apply for and manage social
            grants
          </p>
          <p>
            Debt relief information
          </p>
          <p>
            Student loan information
          </p>
        </div>
        <div class="flex-three-item">
          <h6>
            BUSINESS FINANCIAL SUPPORT
          </h6>

          <p>
            Information on what government financial support programs are
            applicable to your business and how to apply for them
          </p>
        </div>

        <div class="flex-three-item">
          <h6>
            DONATE
          </h6>

          <p>
            Provides verified list of organizations and funds that directly
            support the most vulnerable during the national lockdown
          </p>
        </div>
      </div>
      <h6>South Africa is #StrongerTogether</h6>
    </div>

    <div class="blue-line"></div>
    <div class="flex-item">
      <h3>INSPIRATION</h3>
      <br />

      <p>
        The Covid-19 epidemic has led to unprecedented and previously
        unimaginable global challenges for individuals, businesses, governments
        and the global community. As governments around the world issue stay at
        home orders and full-scale lockdowns, some countries will be
        disproportionately affected. Specifically, governments in emerging
        markets with less resources will face serious challenges to provide
        support to the most vulnerable members of their societies. In South
        Africa, the initial market for our service, 37% of the population is
        unemployed and over half of people live below the poverty line. With a
        21 day lockdown imposed on the 26th of March, many citizens will be
        facing dire financial uncertainty in the coming weeks, and it remains to
        be seen whether the government has the capacity to reach all those in
        need of support.
      </p>
      <br />
      <p>
        A number of government programs (from social grants to tax incentives)
        have been launched to help individuals and businesses, however they have
        been published by various government departments, without a centralized
        system for potential beneficiaries. With a lack of policy clarity, ever
        crashing government websites and overloaded telephone hotlines, there is
        a need to help people understand their financial options in this
        uncertain time. Furthermore, high infection rates of Covid-19 put many
        people at risk should they go to government offices to inquire about
        financial support programs. The challenges resulting from the global
        pandemic coupled with South Africa’s local dynamics present many
        opportunities to develop digital solutions.
      </p>
      <br />
      <p>
        We are driven to build a service that streamlines access to personal and
        business financial support for the most vulnerable South Africans
        through a multilingual WhatsApp chatbot.
      </p>
    </div>

    <div class="blue-line"></div>

    <div class="flex-item">
      <h3>WHAT IT DOES</h3>
      <br />
      <p>
        Our WhatsApp chatbot provides individuals and businesses with
        information on government support programs available to mitigate the
        economic costs of a national lockdown. Our system lets individuals store
        personal information in our service, apply and access government grants
        through the chatbot, and find out about debt relief programs. For
        businesses our system provides an information platform, informing what
        government financial relief programs (such as tax incentives,
        low-interest loans and sickness compensation) are available to specific
        firms. Finally, our system helps users connect with verified
        organizations and funds to donate to government programs for financial
        support to the most vulnerable in South Africa.
      </p>
    </div>
    <div class="blue-line"></div>
    <div class="flex-item">
      <h3>WHY A WHATSAPP CHATBOT</h3>
      <br />
      <p>
        The South African digital landscape is unique because as an emerging
        market, the majority of internet users are mobile based. With relatively
        high costs for mobile data, and only 30% smartphone penetration in the
        country, internet users spend relatively more time on messenger apps
        than on browsers. Of messenger apps, the most popular is WhatsApp, which
        is used by 9 out of 10 internet users. As a result we have chosen this
        platform as the most effective avenue to reach the most people,
        particularly those of lower income who are most vulnerable to the
        financial effects of a national lockdown. We have chosen to develop a
        chatbot which allows us to reach users at the lowest cost as minimal
        human capital is required once the chatbot has been built. The
        effectiveness of a WhatsApp chatbot has been proven by Praekelt.org who
        launched a Covid-19 Health Information Chatbot which gained 2.6 million
        users across the country.
      </p>
    </div>
    <br />
    <div class="blue-line"></div>
    <div class="flex-item">
      <h3>SOCIAL IMPACT</h3>
      <br />
      <p>
        Our services not only provide citizens and businesses with financial
        support but also encourage social distancing as people don't have to go
        to physical offices to inquire and apply for government programs. This
        is particularly important in the context of South Africa where over 20%
        of the population is HIV positive and therefore immunocompromised.
        Furthermore our WhatsApp tool allows users to use minimal data to access
        information, a vital feature in a country where data costs are extremely
        high relative to average income.
      </p>
    </div>
    <br />

    <!-- <div class="blue-line"></div> -->
  </div>
</div>
